<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org">
<head>
<title> Weather Application</title>
</head>

<body>
	<h2> Weather App</h2>
<form action="weather" method="get">
	<input type= "text" name="city" required placeholder="Enter City">
	<button type="submit">Get Weather</button>
</form>

<h2>Weather Details</h2>
<div th:if="${weather}">
	<h3>City <span th:text= "${weather.name}"></span></h3>
	<p>Temperature <span th:text= "${weather.main.temp}"></span></p>
	<p>Humidity <span th:text= "${weather.main.humidity}"></span></p>
	<p>Description <span th:text= "${weather.weather[0].description}"></span></p>
	
</div>
</body>





</html>